
 

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Login - Smarttelweb | Buy Data, Airtime to cash, Bills Payment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../media/Image/IMG_0961.jpeg" type="image/png" sizes="16x16">


    <meta name="theme-color" content="#310CA9">

    <meta name="msapplication-TileColor" content="#310CA9 ">
    <meta name="msapplication-TileImage" content="/media/Image/couple_1.jpg">
    <meta itemprop="name" content="Smarttelweb- Buy Airtime and Data for all Network. Make payment for DSTV, GOTV, PHCN other services">
    <meta itemprop="description" content="Buy Cheap Internet Data Plan and Airtime Recharge for Airtel, 9mobile, GLO, MTN, Pay DSTV, GOTV, PHCN.">
    <meta itemprop="image" content="/media/Image/couple_1.jpg">
    <link rel="stylesheet" href="../static/ogbam/w3.css">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="/media/Image/couple_1.jpg">
    <meta name="twitter:title" content="Smarttelweb- Buy Airtime and Data for all Network. Make payment for DSTV, GOTV, PHCN other services">
    <meta name="twitter:description" content="Buy Cheap Internet Data Plan and Airtime Recharge for Airtel, 9mobile, GLO, MTN, Pay DSTV, GOTV, PHCN.">
    <meta name="twitter:image:src" content="/media/Image/couple_1.jpg">

    <!-- Open Graph data -->
    <meta property="og:locale" content="en_US">
    <meta property="og:title" content="Smarttelweb- Buy Airtime and Data for all Network. Make payment for DSTV, GOTV, PHCN other services">
    <meta property="og:image" content="/media/Image/couple_1.jpg">
    <meta property="og:description" content="Buy Cheap Internet Data Plan and Airtime Recharge for Airtel, 9mobile, GLO, MTN, Pay DSTV, GOTV, PHCN." />
    <meta property="og:site_name" content="Smarttelweb" />
    <meta property="og:url" content="https://www.smarttelweb.com">
    <meta property="og:type" content="website">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="../static/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/assets/libs/css/style.css">
    <link rel="stylesheet" href="../static/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="https://smarttelweb.com/static/dashboard/assets/img/icon.ico" type="image/x-icon" />

    <!-- Fonts and icons -->
    <script src="../static/dashboard/assets/js/plugin/webfont/webfont.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">


    <script>
        WebFont.load({
            google: {
                "families": ["Lato:300,400,700,900"]
            },
            custom: {
                "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"],
                urls: ['/static/dashboard/assets/css/fonts.min.css']
            },
            active: function() {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <script>
        toastr.error('Error', 'Error Title')
    </script>
    <!-- CSS Files -->
    <link rel="stylesheet" href="../static/dashboard/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/dashboard/assets/css/atlantis.css">

    
        <style>
            .login {
                background: #E5DFDD !important;
            }
        </style>
    


</head>

<body class="login">

    

    <div class="wrapper wrapper-login">

        <div class="container container-login animated fadeIn">
            

            <center> <a href="../logout/index.html" class="logo">
                    <img src="../media/Image/IMG_9708.jpeg" style="height:70px; margin-bottom: 20px;">
                </a></center>
            <h3 class="text-center">Sign In </h3>
            <form method="POST">
                <input type="hidden" name="csrfmiddlewaretoken" value="fSL1UtF0bVm2JDouZWTHduouOh80ueizFjlKDXiDqCjy8v2OBeQFofyL9lsKDqSP">
                <div class="form-group">
                    
                    


    
    <div id="div_id_username" class="form-group">
        
            <label for="id_username" class=" requiredField">
                Username<span class="asteriskField">*</span>
            </label>
        

        

        

        
            
                <div class="">
                    <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" class="textinput textInput form-control" required id="id_username">
                    


    




    



                </div>
            
        
    </div>
    



                    
                    


    
    <div id="div_id_password" class="form-group">
        
            <label for="id_password" class=" requiredField">
                Password<span class="asteriskField">*</span>
            </label>
        

        

        

        
            
                <div class="">
                    <input type="password" name="password" autocomplete="current-password" class="textinput textInput form-control" required id="id_password">
                    


    




    



                </div>
            
        
    </div>
    



                    

                    <div class="form-group form-action-d-flex mb-3">

                        <a href="../password_reset/index.html" class="link float-right">Forgot Password ?</a>

                        <button type="submit" class="btn  mt-3 mt-sm-0 fw-bold" onClick="this.form.submit(); this.disabled=true; this.innerText ='Authenticating.....'; " style="background: linear-gradient(to right, #310CA9,  #013E91 )!important;color:white;">Sign In</button>
                    </div>


                    <div class="login-account">
                        <span class="msg">Don't have an account yet ?</span>
                        <a href="../signup.html" id="show-signup" class="link">Sign Up</a>
                    </div>
                </div>
            </form>
        </div>


    </div>
    <script src="../static/dashboard/assets/js/core/jquery.3.2.1.min.js"></script>
    <script src="../static/dashboard/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="../static/dashboard/assets/js/core/popper.min.js"></script>
    <script src="../static/dashboard/assets/js/core/bootstrap.min.js"></script>
    <script src="../static/dashboard/assets/js/atlantis.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

</body>

</html>